* {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}
.size {
  width: 100%;
}
.img-1-tablet,
.img-1-desktop {
  display: none;
}

.img-2-tablet,
.img-2-desktop {
  display: none;
}
.img-3-tablet,
.img-3-desktop {
  display: none;
}

/* header section */

h1 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 60px;
  font-weight: 900;
  line-height: 55px;
  margin: 32px 16px;
  color: #151515;
}
p {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  color: #444444;
}
header p {
  margin: 0 16px 32px 16px;
}
a {
  font-family: "Big Shoulders Display", cursive;
  background-color: #151515;
  color: #ffffff;
  padding: 24px 35px 24px 32px;
  margin: 32px 0px 120px 16px;
  text-decoration: none;
}
.arrow-right {
  background-color: #d5966c;
  padding: 24px 24px;
  margin: 32px 99px 120px 0;
}
.location-with-arrow {
  display: flex;
}

/* main section */

main {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
  margin-left: 16px;
}
h2 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 50px;
  line-height: 45px;
  font-weight: 900;
}
.main-heading {
  margin-top: 25px;
  margin-bottom: 21px;
  color: #151515;
}
.main-p {
  margin-bottom: 32px;
}
.gallery {
  margin-top: 16px;
  margin-bottom: 16px;
}

/* main summary section */
.summary h2 {
  color: #ffffff;
  margin-bottom: 24px;
}
.summary p {
  color: #ffffff;
  /* margin: 0px 24px 47px 24px; */
}
.summary {
  background-color: #151515;
  margin-bottom: 120px;
  padding: 48px 24px;
}

/* footer section */
footer {
  background-color: #151515;
  padding: 48px 32px;
}

footer p {
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin-top: 38px;
  margin-bottom: 40px;
}
.instagram-icon {
  margin-left: 20px;
  margin-right: 20px;
}

/* tablet section */
@media (min-width: 768px) {
  body {
    background-image: url(/assets/tablet/image-hero.jpg);
    background-repeat: no-repeat;
  }
  .hero-img {
    display: none;
  }
  header {
    margin: 145px 40px 265px 389px;
  }
  main {
    margin: 0 40px 120px 39px;
  }

  /* swap images */
  .img-1-tablet {
    display: block;
  }
  .img-1 {
    display: none;
  }
  .img-2-tablet {
    display: block;
    margin-top: 11px;
  }

  .img-2 {
    display: none;
  }

  .img-3-tablet {
    display: block;
    margin: 11px 11px;
  }

  .img-3 {
    display: none;
  }
  /* make tablet divs in right order */

  .tablet-div1 {
    display: flex;
    flex-direction: row-reverse;
  }
  .main-heading p {
    margin-right: 68px;
  }
  .tablet-div2 {
    display: flex;
    align-items: flex-start;
  }
  .summary {
    padding: 85px 28px;
    margin-left: 11px;
    margin-right: 11px;
  }
  footer {
    display: flex;
    align-items: center;
    padding: 56px 40px;
  }

  footer p {
    margin-left: 65px;
    margin-right: 133px;
  }
  footer img {
    margin-bottom: 64px;
  }
}

/* desktop section */

@media (min-width: 1439px) {
  body {
    background-image: url(/assets/desktop/image-hero.jpg);
    background-repeat: no-repeat;
    background-position: top 0px right 450px;
  }

  /* swap images */
  .img-1-desktop,
  .img-2-desktop,
  .img-3-desktop {
    display: block;
  }
  .img-1-tablet,
  .img-2-tablet,
  .img-3-tablet {
    display: none;
  }
  .media-queury {
    background-color: #151515;
    width: 450px;
    height: 799px;
    top: 0;
    position: relative;
  }

  header h1 {
    position: absolute;
    left: 9.8%;
    right: 46.75%;
    top: 160px;
    font-size: 96px;
    line-height: 88px;
  }
  h1 {
    background: linear-gradient(to right, white 62%, #151515 38%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .desktop-header p {
    font-size: 22px;
    line-height: 32px;
  }
  .desktop-header {
    position: absolute;
    top: 200px;
    left: 900px;
    right: 300px;
    margin-right: 0px;
  }
  /* main desktop section */
  main {
    margin: 180px 164px;
  }
  main h2 {
    font-size: 60px;
    line-height: 60px;
  }
  .summary {
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 0;
  }
  .img-2-desktop {
    margin-top: 30px;
    width: auto;
  }
  .img-3-desktop {
    margin-top: 30px;
    margin-left: 30px;
  }

  /* footer desktop section */
  footer p {
    font-size: 18px;
    line-height: 28px;
    margin-left: 140px;
    margin-right: 280px;
  }
  footer {
    padding: 80px 165px;
  }
  /* hover section */
  a:hover {
    background: #d5966c;
  }
  .arrow-right {
    cursor: pointer;
  }
  .arrow-right:hover {
    background-color: #151515;
  }
}
